server {
    listen 8080;
    server_name localhost;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    # Cualquier petición del navegador que vaya a /api/despachos será enviada secretamente al servidor backend privado.
    location /api/despachos/ {
        proxy_pass http://10.0.2.49:8081/;
    }

    location /api/ventas/ {
        proxy_pass http://10.0.2.49:8082/;
    }
}